@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* Custom Font Utility Classes */
.font-outfit {
  font-family: "Outfit", sans-serif !important;
}
.font-playfair {
  font-family: "Playfair", serif !important;
}
.font-montserrat {
  font-family: "Montserrat Alternates", sans-serif !important;
}

@keyframes softPulse {
  0%,
  100% {
    opacity: 0.85;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.01);
  }
}

.animate-softPulse {
  animation: softPulse 10s ease-in-out infinite;
}
