@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* Custom Font Utility Classes */
.font-outfit {
  font-family: "Outfit", sans-serif !important;
}
.font-playfair {
  font-family: "Playfair", serif !important;
}
.font-montserrat {
  font-family: "Montserrat Alternates", sans-serif !important;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 15s ease infinite;
}
